.page-404 {
    color: #000;

    text-align: center;

    margin-top: 45px;
}

.page-404 img {
    width: 400px;

    margin-top: 50px;

    border-radius: 20px;
}

@media (max-width: 700px) {
    .page-404 {
        font-size: 13px;
    }

    .page-404 img {
        width: 220px;
    }
}